body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5
}

.login-page {
  display: flex;
  text-align: center;
  margin-top: 75px;
}
.main-text > h1 {
  font-family: inherit;
  color: #1877f2;
  padding-bottom: 20px;
  margin-right: 40px;
  font-size: 50px;
  font-weight: bold;
}
.main-text > p {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding-top: 10px;
}
.submit {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 370px;
  color: white;
  text-align: center;
}

.form-text {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px;
}
.main-text {
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 5%;
  margin-left: 60px;
}
.paragraph-maintext {
  height: 0%;
  text-align: start;
}
.heading {
  height: 0%;
  text-align: start;
}
.box-width {
  font-family: inherit;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  vertical-align: middle;
}
.button-newaccount{
padding-top:0px;
margin-top: 1px;
}
.button-last {
  background-color: #36a420;
  color: white;
  height: 45px;
  border-radius: 1px;
  margin-top: 25px;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 0 16px;
  font-weight: bold;
}
.header-forgotpass {
  display: flex;
  background-color: white;
}
.header-forgotpass > h1 {
  color: #1877f2;
  padding-left: 8px;
}
.form-forgotpass {
  margin-left: 200px;
  margin-top: 30px;
  padding-left: 30%;
}
.pass-form1{
  height: 28px;
  width: 140px;
  font-family: inherit;
  margin-right: 10px;
  margin-left: -50px;
}
.pass-form2{
  height: 28px;
  width: 140px;
  font-family: inherit;
  margin-right: 10px;
}
.login-btn{
  height: 32px;
  font-family: inherit;
  margin-right: 10px;
  background-color:#1877f2;
  color: white;
  border-radius: 3px;
  border-color: #606770;;
}
.forgotten-account-link{
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 1.34;
}
.container-forgotpass {
  background-color: white;
  height: 35vh;
  width: 35vw;
  padding: 15px;
  border-radius: 4px;
}
.container-forgotpass>h3{
  margin-top: 0px;

}
.container-forgotpass-border{
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dddfe3;
  padding-bottom: 6px;

}
.containermain-forgotpass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.textbox-forgotpass {
  width: 99%;
  height: 35px;
}
.button-forgotpass {
  background-color: #1877f2;
  color: white;
  height: 30px;
  border: none;
  width: 60px;
  border-radius: 3px;
  margin: 5px;
}
.button1-forgotpass {
  height: 30px;
  border: none;
  width: 60px;
  border-radius: 3px;
  margin: 5px;
}
.create-account-main{
  border-top: 1px solid #dddfe3;
}
.buttonmain {
  text-align: end;
}
.split1-signup {
  display: flex;
}
.Dob-signup {
  border-radius: 4px;
  color: #1c1e21;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  margin-left: 10px;
}
.header-signup {
  border-radius: 8px 8px 0px 0px;
  padding: 2px 16px;
  background-color: #fff;
  font-size: 12px;
}
.body-signup {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dddfe3;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px;
  display: block;
  text-align: left;
}
.split1-signup {
  width: 170px;
  padding: 10px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  background-color: transparent;
  border-radius: 2px;
}
.split1-signup-1 {
  height: 25px;
  margin-right: 10px;
}
.split2-signup {
  padding: 2px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  background-color: transparent;
  border-radius: 2px;
}
.split2-signup-1 {
  width: 86.5%;
  margin-left: 8px;
  height: 25px;
}
.split2-signup-2 {
  width: 86.5%;
  margin-left: 8px;
  height: 25px;
  margin-top: 13px;
}
.main-signup {
  display: flex;
  justify-content: center;
}
.inner-signup {
  margin-top: 25px;
}
.dob-head-signup {
  margin: 9px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  margin-top: 9px;
}
.Signup-btn{
  background-color: #36a420;
  color: white;
  height: 36px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  line-height: 40spx;
  padding: 0 16px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}
